---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import ContentCard from '../../components/ContentCard.astro';

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <ContentCard
                href={`/blog/${post.slug}/`}
                imageSrc={post.data.heroImage}
                imageAlt=''
                title={post.data.title}>
                  <p class='date' slot='afterTitle'>
                    <FormattedDate date={post.data.pubDate} />
                  </p>
              </ContentCard>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul a:hover .date {
        color: rgb(var(--accent));
      }

      .date {
        margin: 0;
        color: rgb(var(--gray));
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
      }
    </style>
  </body>
</html>
